*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
}
.banner{
    width: 100%;
    padding: 120px 80px;
    background-image: url('./img/banner-topo.jpg');
    background-position: center;
    background-size: cover;

}
.topo{
    max-width: 250px;
    color: #3c184e;
}
.topo img{
    width: 30px;
    margin-right: 5px;
}
.topo .nome{
    font-size: 35px;
    margin-bottom: 5px;
}
.topo .slogan{
    font-size: 14px;
    text-align: center;

}
.banner .container{
    max-width: 1024px;
    border-radius: 10px;
    padding: 40px;
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffffc4;
    box-shadow: 0px 8px 32px #1f26875e;
}
.container h1{
    font-size: 60px;
    color: #3c184e;
    text-align: center;
    font-weight: 800;
    margin-bottom: 40px;
}
.container p{
    width: 200px;
    padding: 10px 25px;
    margin: 0px auto;
    border-radius: 10px;
    background-color: #3c184e;
    font-size: 20px;
    text-align: center;
    color: #ffff;
}
.container p img, a{
    color: #ffff;
    width: 20px;
}
.secao-servicos{
    width: 100%;
    padding: 120px 80px;

}
.secao-servicos h3{
    font-size: 36px;
    color: #3c184e;
    text-align: center;
    margin-bottom: 45px;
}
.lista{
    max-width: 800px;
    margin: 0 auto 50px auto;
    color: #3c184e;
}
li{
    list-style-type: square;
    font-size: 20px;
    margin-bottom: 20px;
}
li span{
    font-weight: 700;
    font-style: italic;
}
.imagens{
    max-width: 800px;
    margin: 0 auto;
    align-items: center;
}
.imagens img{
    border-radius: 5px;
    box-shadow: 3px 6px 10px 6px #0000005c;
}
.secao-destaque{
    width: 100%;
    padding: 120px 80px;
    background-color: #3c184e;
    text-align: center;
}
.faixa-das-redes-sociais p{
    max-width: 800px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    font-size: 40px;
    color: #fff;
    text-align: center;
}
.faixa-das-redes-sociais span{
    font-weight: 700;
    font-style: italic;
}
.faixa-das-redes-sociais a{
    text-decoration: none;
    margin-left: 20px;
    margin-right: 20px;
}
.faixa-das-redes-sociais img{
    width: 50px;
    height: 50px;
}
.secao-marcas{
    width: 100%;
    padding: 120px 80px;
}
.secao-marcas h3{
    font-size: 36px;
    color: #3c184e;
    text-align: center;
    margin-bottom: 45px;
}
.marcas{
    max-width: 800px;
    margin: 0 auto;
}
.marcas img{
    width: 148px;
    height: 148px;
    margin-left: 15px;
    margin-right: 15px;
}
.secao-onde-estamos{

    width: 100%;
    padding: 120px 80px;
    text-align: center;
}
.secao-onde-estamos h3{
    font-size: 36px;
    color: #3c184e;
    text-align: center;
    margin-bottom: 45px;
}
.secao-onde-estamos p{
    font: 20px;
    color: #3c184e;
    text-align: center;
    margin-bottom: 45px;
}
.secao-onde-estamos iframe{
    max-width: 800px;
    max-height: 450px;
}
.rodape{
    width: 100%;
    padding: 10px 0;
    background-color: #3c184e;
}
.rodape p{
    color: #fff;
    font-size: 12px;
    text-align: center;
}